<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Register to see more</p>

      <% if (error.length > 0) { %>
        <div class="error-message">
            <p><%= error %></p>
          </div>
      <% }%>
  
<form action="/register" method="post">
  <input type="email" name='email' placeholder="Email" class="detail" /><br />
  <input type="text" name='username' placeholder="username" class="detail" /><br />
  <input type="text" name='fullname' placeholder="fullname" class="detail" /><br />
  <input type="password" name='password' placeholder="Password" class="detail" /><br />
  <input class="btn int" type="submit" value="Register Account" class="detail" /><br />
  <!-- <button class="btn int" type="submit">Register Account</button> -->
</form>
  
      <h4>Forgot your password?</h4>
  
      <p class="or">OR</p>
    
  
      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Already On Pinterest? <a href="/login">Login</a></p>
      </footer>
    </div>
  </div>
  <a href="/login" class="upbtn">Login</a>
  
</body>
</html>